*{
    font-size: 24px;
    margin: 0;
    padding: 0;
}

button{
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: rgb(29, 89, 185);
    border: 0;
    width: 20%;
    margin: 5px;
}

.inp{
    padding: 5px;
    width: 70%;
}

.container{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.upBtn, .downBtn, .deleteBtn{
    background-color: royalblue;
    width: 10%;
}

.taskItem{
    margin: 10px auto;
    list-style: none;
}

li:first-child .upBtn, 
li:last-child .downBtn{
    display: none;
}